html {
  height: 100%;
}

body {
  min-height: 100%;
}

.main_area {
  margin-bottom: 20px;
}

.navbar-default {
  background-color: rgb(120, 120, 120);
  
  h1 {
    color: rgb(255, 255, 255);
  }
}

#error_message {
  padding: 10px 15px;
  background-color: rgb(255, 75, 75);
  color: rgb(255, 255, 255);
}

.user_info {
  margin: 10px -15px;
  
  .img_area {
    text-align: center;
  }
}

.follower_show {
  margin: 10px auto;
  
}

.follower_info {
  float: left;
  height: 386px;
  text-overflow: ellipsis 
}