html {
  height: 100%;
}

body {
  min-height: 100%;
}

.navbar.navbar-default {
  border-style: none;
}

.navbar-default .navbar-brand {
  color: white;
  
  &:hover {
    background-color: white;
    color: rgb(120, 120, 120);
    border: 1px solid white;
  }
}

.main_area {
  margin-bottom: 20px;
}

.navbar-default {
  background-color: rgb(120, 120, 120);
  
  h1 {
    color: rgb(255, 255, 255);
  }
}

#error_message {
  padding: 10px 15px;
  background-color: rgb(255, 75, 75);
  color: rgb(255, 255, 255);
  text-align: center;
}

.user_info {
  margin: 10px -15px;
  
  .img_area {
    text-align: center;
  }
  
  .user_data {
    text-align: center;
  }
}

@media (min-width: 990px){
  .user_info {
    margin: 10px -15px;
    
    .img_area {
      text-align: right;
    }
    
    .user_data {
      text-align: left;
    }
  }
}

@media (max-width: 990px){
  .follower_following_button {
    text-align: center;
  }
}

.follower_show {
  margin: 10px auto;
  width: 100%;
}

.follower_info {
  float: left;
  padding: 20px;
  text-overflow: ellipsis;
  background-color: rgb(200, 200, 200);
  border: 2px solid white;
  margin: 0 auto;
  text-align: center;
  width: 235px;
  
  img {
    margin: 0 auto;
  }
}

@media (max-width: 750px){
  .follower_info {
    float: none;
  }
}

#follower_btn,
#following_btn {
  width: 155px;
  margin: 5px;
}

.next_last_btn_area {
  div {
    margin: 5px auto;
  }
}

@media (max-width: 750px){
  .next_last_btn_area {
    text-align: center;
  }
}